<Page>
  <h1 class='text-center font-mono my-16 w-full font-medium text-4xl'>#Vytvořit
    novej poklad pro svět, more</h1>
  <div class='flex justify-center items-center h-full w-full'>
    <div class='flex flex-col w-full'>
      <Input
        placeholder='Nadpis'
        @value=''
        class='border-black border-2 p-2 mb-4'
      />
      <Textarea
        placeholder='Nejdůležitější sdělení světu'
        rows={{10}}
        @value=''
        class='border-black border-2 mb-4 p-2'
      />
      <div class='mx-auto'>
        <button
          type='button'
          class='p-2 mt-4 mx-auto border-black border-2'
        >Zruš to lopato!</button>
        <button
          type='submit'
          class='p-2 mt-4 mx-auto border-black border-2 bg-yellow-500'
        >Odeslat</button>
      </div>
    </div>
  </div>
</Page>